<div *ngIf="this.ingredients" class="ingredients-list">
  <p>All ingredients</p>
  <div *ngFor="let ingredient of ingredients" class="table">
    <div class="row">
      <div class="column"> {{ingredient.name}}</div>
      <div class="column">
        <button class="delete" title="delete recipe" (click)="delete(ingredient)">X</button>
      </div>
    </div>
  </div>
</div>

<div>
  <p>
    <label for="new-ingredient">Ingredients name: </label>
    <input id="new-ingredient" #ingredientName />
  </p>
  <div class="button">
    <button (click)="add(ingredientName.value); ingredientName.value=''">
      Add ingredient
    </button>
  </div>
</div>
