<div class="toolbar" role="banner">
  <span><a routerLink="/login" routerLinkActive="router-link-active" > CONT7 Recipe</a></span>
  <span *ngIf="this.authService.isLoggedIn" class="link"> <a routerLink="/create/ingredient"> Browse ingredient </a> </span>
  <span *ngIf="this.authService.isLoggedIn" class="link"> <a routerLink="/recipe"> Browse Recipe </a> </span>
  <span *ngIf="this.authService.isLoggedIn" class="link">  <button (click)="logout()" *ngIf="this.authService.isLoggedIn" type="button" class="btn btn-danger">Logout</button> </span>
    <div class="spacer"></div>
</div>
<div class="content" role="main">
  <router-outlet></router-outlet>
</div>

