<div class="title">
  <p>My Recipes</p>
</div>
<div *ngFor="let recipe of recipes" class="table">
  <div class="row">
    <div class="column"> {{recipe.name}}</div>
    <div class="column">
      <button class="delete" title="delete recipe" (click)="delete(recipe)">X</button>
    </div>
  </div>
</div>
