.title{
  text-align: center;
}
.table {
  width: 350px;
  text-align: center;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.create {
  text-align: center;
  align-items: center;
}
